<div class="position-sticky sticky-top" style="width: 100%; height: 100vh;">

  <!-- Sidebar -->
  <nav class="d-lg-block sidebar h-100 bg-white border ">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 pt-4">
        <h3>Defaults</h3>

        <% if (defaultFiles.length !== 0) { %> 
          <!--  -->
        <% } else { %> 
          <small>No Default Files Yet</small>
        <% } %>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

</div>