
<div class="card mx-1 my-1 d-flex flex-row align-items-center btn-light" style="width: 24%; min-height: 10vh;">
  <div class="w-25 h-100 bg-primary rounded d-flex justify-content-center align-items-center text-light">
    <h4>
      <%= file.extension %>
    </h4>
  </div>
  <small class="px-2 d-flex flex-wrap">
    <%= file.filename %>
  </small>
</div>