
<div class="w-100 d-flex px-3 justify-content-between py-2">
  <h3><%= type %></h3>
  <div class="d-flex">
    <button class="btn btn-danger mx-2 px-4">
      Delete
    </button>
    <button class="btn btn-primary px-4">
      Set as Default
    </button>
  </div>
</div>